OrdererOrgs:
  - Name: {{ ordererorg.name }}
    Domain: {{ ordererorg.domain }}
    Specs:
      {%- for orderer in ordererorg.orderers %}
      - Hostname: {{ orderer.name }}
        SANS:
          - localhost
          - "127.0.0.1"
          {% if orderer.host != "localhost" -%}
          - "{{ orderer.host }}"
          {%- endif %}
      {% endfor %}
PeerOrgs:
{%- for org in orgs %}
  - Name: {{ org.mspid }}
    Domain: {{ org.domain }}
    EnableNodeOUs: true
    Specs:
    {%- for peer in org.peers %}
      - Hostname: {{ peer.name }}
        SANS:
          - localhost
          - "127.0.0.1"
          {% if peer.host != "localhost" -%}
          - "{{ peer.host }}"
          {%- endif %}
    Users:
      Count: 1
    {% endfor %}
{%- endfor -%}
