version: '2.1'

networks:
  {{ network }}:

services:
  {%- for orderer in ordererorg.orderers %}
  {{ orderer.name }}:
    container_name: {{ orderer.name }}
    image: hyperledger/fabric-orderer:${FABRIC_TAG}
    environment:
      #- ORDERER_GENERAL_LOGLEVEL=${ORDERER_GENERAL_LOGLEVEL}
      - FABRIC_LOGGING_SPEC=INFO
      - ORDERER_OPERATIONS_LISTENADDRESS=0.0.0.0:8080
      - ORDERER_OPERATIONS_TLS_ENABLED=false
      - ORDERER_METRICS_PROVIDER=prometheus
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_LISTENPORT=7050
      - ORDERER_GENERAL_GENESISMETHOD=file
      - ORDERER_GENERAL_GENESISFILE=/var/hyperledger/orderer/orderer.genesis.block
      - ORDERER_GENERAL_LOCALMSPID={{ ordererorg.mspid }}
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      # enabled TLS
      - ORDERER_GENERAL_TLS_ENABLED=${ORDERER_GENERAL_TLS_ENABLED}
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_GENERAL_PROFILE_ENABLED=true
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: orderer
    volumes:
      {%- if orderer.volume %}
      - {{ orderer.volume }}:/var/hyperledger/production
      {%- endif %}
      - ./genesis.block:/var/hyperledger/orderer/orderer.genesis.block
      - ./crypto-config/ordererOrganizations/{{ ordererorg.domain }}/orderers/{{orderer.name}}.{{ ordererorg.domain }}/msp:/var/hyperledger/orderer/msp
      - ./crypto-config/ordererOrganizations/{{ ordererorg.domain }}/orderers/{{orderer.name}}.{{ ordererorg.domain }}/tls/:/var/hyperledger/orderer/tls
    ports:
      - {{ orderer.ports.requests}}:7050
      - {{ orderer.ports.pprof}}:6060
    networks:
      {{ network }}:
        aliases:
          - {{ orderer.name}}.{{ ordererorg.domain }}
    healthcheck:
      test: wget -q -O- http://localhost:8080/healthz | grep -q '"status":"OK"'
      interval: 5s
      timeout: 5s
      retries: 0
  {%- endfor  %}
  {%- for org in orgs -%}
    {%- for peer in org.peers %}

  {{ org.name }}-{{ peer.name }}:
    container_name: {{ org.name }}-{{ peer.name }}
    image: hyperledger/fabric-peer:${FABRIC_TAG}
    environment:
      - FABRIC_LOGGING_SPEC=INFO
      - CORE_OPERATIONS_LISTENADDRESS=0.0.0.0:8080
      - CORE_OPERATIONS_TLS_ENABLED=false
      - CORE_METRICS_PROVIDER=prometheus
      - CORE_PEER_ID={{ peer.name }}.{{ org.domain }}
      - CORE_PEER_LOCALMSPID={{ org.mspid }}
      - CORE_PEER_ADDRESS={{ peer.name }}.{{ org.domain }}:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      #- CORE_PEER_GOSSIP_BOOTSTRAP={{ peer.name }}.{{ org.domain }}:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT={{ peer.name }}.{{ org.domain }}:7051
      - CORE_PEER_GOSSIP_USELEADERELECTION=false
      - CORE_PEER_GOSSIP_ORGLEADER=true
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=${COMPOSE_PROJECT_NAME}_{{ network }}
      - CORE_CHAINCODE_BUILDER=hyperledger/fabric-ccenv:${FABRIC_TAG}
      - CORE_PEER_TLS_ENABLED=${CORE_PEER_TLS_ENABLED}
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
      - CORE_PEER_PROFILE_ENABLED=true
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
    command: peer node start
    volumes:
      {%- if peer.volume %}
      - {{ peer.volume }}:/var/hyperledger/production
      {%- endif %}
      - /var/run/:/host/var/run/
      - ./crypto-config/peerOrganizations/{{ org.domain }}/peers/{{ peer.name }}.{{ org.domain }}/msp:/etc/hyperledger/fabric/msp
      - ./crypto-config/peerOrganizations/{{ org.domain }}/peers/{{ peer.name }}.{{ org.domain }}/tls:/etc/hyperledger/fabric/tls
    ports:
      - {{ peer.ports.requests }}:7051
      - {{ peer.ports.pprof }}:6060
    networks:
      {{ network }}:
        aliases:
          - {{ peer.name }}.{{ org.domain }}
    healthcheck:
      test: wget -q -O- http://localhost:8080/healthz | grep -q '"status":"OK"'
      interval: 5s
      timeout: 5s
      retries: 0
    {%- endfor %}
  {%- endfor %}

  cadvisor:
    container_name: cadvisor
    image: google/cadvisor:v0.32.0
    command: --disable_metrics=""
    volumes:
     - /:/rootfs:ro
     - /var/run:/var/run:rw
     - /sys:/sys:ro
     - /var/lib/docker/:/var/lib/docker:ro
    networks:
      {{ network }}:

  prometheus:
    container_name: prometheus
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - {{ prometheus.port }}:9090
    networks:
      {{ network }}:

  pushgateway:
    container_name: pushgateway
    image: prom/pushgateway
    ports:
      - {{ pushgateway.port }}:9091
    networks:
      {{ network }}:

  grafana:
    container_name: grafana
    image: grafana/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - {{ grafana.port }}:3000
    networks:
      {{ network }}:

  tinyproxy:
    container_name: tinyproxy
    image: tinyproxy
    ports:
      - {{ proxy.port }}:8888
    networks:
      {{ network }}:
