- targets:
  {%- for org in orgs %}
  {%- for peer in org.peers %}
    - {{ peer.name }}.{{ org.domain }}:{{ peer.ports.exporter }}
  {%- endfor %}
  {%- endfor %}
  labels:
    service: peer

- targets:
  {%- for orderer in ordererorg.orderers %}
    - {{ orderer.name }}.{{ ordererorg.domain }}:{{ orderer.ports.exporter }}
  {%- endfor %}
  labels:
    service: orderer

- targets:
  {%- for cadvisor in cadvisors %}
    - {{ cadvisor.host }}:{{ cadvisor.port }}
  {%- endfor %}
  labels:
    service: cadvisor

- targets:
  {%- for node_exporter in node_exporters %}
    - {{ node_exporter.host }}:{{ node_exporter.port }}
  {%- endfor %}
  labels:
    service: node_exporter

- targets:
    - pushgateway:9091
